.App {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background: rgb(2, 2, 68);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .singleplay {
    font-size: 100px;
    color: white;
    background: transparent;
    transition: all .2s;
  }
  .singleplay:hover {
    letter-spacing: 15px;
    color: gray;
  }
  .multiplay {
    font-size: 100px;
    color: white;
    background: transparent;
    transition: all .2s;
  }
  .multiplay:hover {
    letter-spacing: 15px;
    color: gray;
  }
}

